<h2><%= @clawl_mainichi.title %></h2>
<table>
  <tr>
    <th>title</th>
  </tr>
  <%# binding.pry %>
  <% @entry_list.each do |entry| %>
    <tr>
      <td><%= entry.inner_html %></td>
    </tr>
  <% end %>
</table>