<h2>トークルーム一覧</h2>

<% @articles.each do |article| %>
	<div class="article-room">
		<%= article.title %>:
		<%= article.body %>
		<%= link_to "into", article_path(article) %>
	</div>
	<div>
		<% if user_signed_in? %>
			<% if article.user_id == current_user.id %>
				<%= link_to "削除", article_path(article), method: :delete %>
			<% end %>
		<% end %>
	</div>
<% end %>

