<%#binding.pry %>
<div class="span8">
  <% @entry_a.each_with_index do |entry, index| %>
  <p class="lead">
  <%= link_to entry.inner_html.html_safe %>：<%= link_to "Talk!!", article_path(index) %>
  </p>
  <% end %>
 </div>