<% binding.pry %>
<p id="article_<%= params[:id] %>">
<%= @article.inner_html.html_safe %>
</p>

<iframe class="article_frame" src="" style="width: 60%; height: 600px; display: block; margin: 0 auto;"></iframe>



<script>
	var href = $('#article_<%= params[:id] %> > a').attr('href');
	 //変数hrefには「/articles/20170420/k00/00m/040/003000c」が入ってる

	var src = 'https://mainichi.jp/';
	$('.article_frame').attr('src', src + href);
</script>